.cartodb-infowindow {
  position: absolute
}
.Cdb-infowindow {
  background: #fff;
  border-radius: 4px;
  position: relative;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .24);
  font-family: 'Open Sans';
  cursor: default;
  transform: translateY(-18px) translateX(11px)
}
.Cdb-infowindow-container {
  border-radius: 4px;
  overflow: hidden
}
.Cdb-infowindow-inner {
  padding: 14px 16px;
}
.Cdb-infowindow-inner--scroll {
  padding-right: 12px;
  position: relative
}

.Cdb-infowindow-subtitle {
  font-size: 10px;
  font-weight: 600;
  line-height: 15px;
  text-transform: uppercase
}
.Cdb-infowindow-title {
  font-size: 12px;
  font-weight: 300;
  line-height: 16px
}
.Cdb-infowindow-list {
  display: none
}
.Cdb-infowindow-list:first-child {
  display: block
}
.Cdb-infowindow-list-item {
  margin-top: 8px
}
.Cdb-infowindow-list-item:first-child {
  margin-top: 0
}

.Cdb-hook {
  position: absolute;
  left: 16px;
  bottom: 1px;
  z-index: 10
}
.Cdb-hook:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  border-right: 24px solid transparent;
  z-index: 3
}
.Cdb-hook:after {
  content: "";
  position: absolute;
  left: 0;
  top: 3px;
  width: 0;
  height: 0;
  border-top: 16px solid rgba(0, 0, 0, .14);
  border-right: 24px solid transparent;
  -webkit-filter: blur(2px);
  filter: blur(2px);
  z-index: 2
}
.Cdb-infowindow--light .Cdb-hook:before {
  border-top: 16px solid #fff;
}